.home {
  background-color: #f5f5f9;
  position: relative;
  .nav {
    background-color: #fff;
    .am-flexbox {
      text-align: center;
      padding: 10px 0;
    }
    img {
      width: 48px;
      margin-bottom: 7px;
    }
  }
  .title {
    height: 45px;
    line-height: 45px;
    font-size: 15px;
    div {
      float: left;
      padding-left: 10px;
      color: #000;
      font-weight: 700;
    }
    a {
      float: right;
      color: rgb(136, 128, 128);
    }
  }
  .comtnet {
    height: 200px;
    .item {
      background-color: #fff;
      float: left;
      width: 49.2%;
      // padding-top: 20px;
      // padding-bottom: 10px;
      box-sizing: border-box;
      padding: 20px 10px 10px;
      &:nth-child(2n + 1) {
        float: right;
      }
      &:nth-last-child(2) {
        margin-top: 2%;
      }
      &:nth-last-child(1) {
        margin-top: 2%;
      }
      .left {
        float: left;
        padding-top: 10px;
        font-size: 16px;
        p {
          color: #333;
          font-weight: 700;

          &:nth-last-child(1) {
            color: #ccc;
            margin-top: 10px;
            font-weight: 400;
            font-size: 14px;
          }
        }
      }
      .rigth {
        float: right;
        img {
          border-radius: 50%;
          width: 55px;
          height: 53px;
        }
      }
    }
  }
  .info {
    background-color: #fff;
    overflow: hidden;
    padding: 0 15px;
    .group-title {
      position: relative;
      margin: 15px 0px;
      font-size: 18px;
    }
    .news-item {
      height: 120px;
      padding: 10px 10px 10px 0;
      border-bottom: 1px solid #ccc;
      .imgwrap {
        float: left;
        height: 100px;
        width: 100px;
        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
      .content {
        overflow: hidden;
        height: 100%;
        padding-left: 12px;
        .title {
          margin-bottom: 15px;
          font-size: 14px;
        }
        .info {
          width: 100%;
          color: #999;
        }
      }
    }
  }
  .search-box {
    box-sizing: border-box;
    padding: 0 10px;
    position: absolute;
    top: 25px;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    .search-form {
      flex: 1;
      margin: 0 10px;
      padding: 5px;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      .search-input {
        border-left: solid 1px #787d82;
        margin-left: 5px;
        .icon-seach {
          vertical-align: middle;
          padding: 0 5px;
        }
        span {
          font-size: 12px;
          color: #787d82;
        }
      }
    }
    .icon-map {
      font-size: 28px;
      color: #fff;
    }
  }
}
